header{
    background-color: #f3e9f1;
}

.header{
    display: flex;
    background-color: #f3e9f1;
    justify-content: space-between;
    &__info--panier{
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin: 20px;
        & i{
            font-size: 28px;
            @include gradient;
        }
    }
    &__info--number{
        margin: 0px;
        font-size: 19px;
        font-weight: 600;
        color: black;
    }
}


.header__logo {
    display: flex;
    justify-content: center;
    flex-direction: column; 
        
        &--image{
            margin-bottom: -8px;
        }
    }

button {
	border: none;
    &:hover{
        text-decoration: underline;
    }
}
/* section decouverte*/
.decouverte{
    background-color: $colour-primary;
        &__bold{
            text-transform: uppercase;
        }
        &__coeur{
            width: 100%;
            background:$gradient;
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            text-align: center;
            padding: 12px 0px;
        }
        }
span.decouverte__bold{
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0.5em;
    font-weight: 800;
}
        /*medias queries*/

@media only screen and (max-width: 320px) {
    /*style petits smartphones en voie de disparition*/
    .header{
         padding: 1em 1em 0em;
        }
    .header__logo--image img{
            width: 90%;
         }
    h1{
        font-size:15px;
    }

  }
  @media only screen and (min-width: 321px) and (max-width: 799px) {
    /*style smartphones et petites tablettes en portrait*/
    .header{
        padding: 1em 1em 0em;
       }
       .header__logo--image img{
        width: 90%;
       }
        h1{
            font-size:15px;
        }

  }
  @media only screen and (min-width: 800px) and (max-width: 966px) {
    /*style petites-moyennes tablettes */
    .header {
        padding: 1em 5em 0em;
    }

}
  @media (min-width: 966px) {
    /*style desktop */
    .header{
    padding: 1em 10em 0em;
    }
  }
