@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html {
  background-color: darkgrey;
}

body {
  margin: auto;
  font-family: Roboto;
  background-color: white;
}

.accueil {
  width: 340px;
  margin: auto;
  font-family: Roboto;
  background-color: #f3e9f1;
}

.main, .mainProduit, .ours, .mainPanier, #mainConfirmation {
  background-color: #f3e9f1;
  width: 90%;
  margin: auto;
  border-radius: 1em;
  padding: 1em 0.5em;
  margin-bottom: 1em;
}

/*medias queries*/
@media only screen and (max-width: 320px) {
  /*style petits smartphones en voie de disparition*/
  body {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  body {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  body {
    width: 100%;
  }
}
@media (min-width: 966px) {
  /*style desktop */
  body {
    width: 90%;
  }

  .header {
    padding: 1em 10em 0em;
  }

  h2, .decouverte__coeur {
    font-size: 20px;
  }
}
h1 {
  font-size: 17px;
  line-height: 1.7;
  margin: 0px;
  padding-left: 15px;
  background: linear-gradient(90deg, #d78232 10%, #6a5ca4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  color: white;
  text-align: center;
  line-height: 0.7;
  padding: 20px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #d78232;
}

.ours__texte--description {
  margin-top: 0px;
  font-size: 13px;
}
.ours__texte--prix {
  font-size: 27px;
  line-height: 0.4;
  margin-top: 20px;
  color: #6a5ca4;
}

.recapitulatif h3, .contenu-panier h3 {
  background: linear-gradient(90deg, #d78232 10%, #6a5ca4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 19px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}

.recapitulatif p {
  font-size: 12px;
}

/*medias queries*/
@media only screen and (max-width: 320px) {
  /*style petits smartphones en voie de disparition*/
  h2 {
    font-size: 15px;
  }

  button.connexion {
    font-size: 13px;
  }

  .decouverte__coeur {
    font-size: 12px;
  }

  .decouverte h2 {
    font-size: 13px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  .decouverte__coeur {
    font-size: 13px;
  }

  .decouverte h2 {
    font-size: 15px;
  }

  button.connexion {
    font-size: 13px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
}
@media (min-width: 966px) {
  /*style desktop */
  h2 .decouverte__coeur {
    font-size: 20px;
  }

  .decouverte__coeur {
    font-size: 18px;
  }

  button.connexion {
    font-size: 16px;
  }
}
button.connexion {
  padding: 2px 10px;
  color: black;
  font-weight: 600;
  background-color: transparent;
}

.ours__texte--boutons {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: 13%;
}

select, .ours__texte--boutons a, .produit-adopter a, #optionQuantite, #btn_commander {
  border-radius: 2em;
  padding: 2px 10px;
  font-size: 12px;
  background: #6a5ca4;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

option {
  background-color: #d78232;
}

#optionQuantite {
  display: flex;
  justify-content: space-around;
  color: white;
}

.valueQuantite {
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

.fa-plus-circle, .fa-minus-circle {
  color: white;
  background-color: #6a5ca4;
  font-size: 15px;
}

#btnLess, #btnMore {
  background-color: #6a5ca4;
  padding: 0px 6px;
}

.btn_vider_panier {
  background-color: white;
  padding: 0.2em;
}

header {
  background-color: #f3e9f1;
}

.header {
  display: flex;
  background-color: #f3e9f1;
  justify-content: space-between;
}
.header__info--panier {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 20px;
}
.header__info--panier i {
  font-size: 28px;
  background: linear-gradient(90deg, #d78232 10%, #6a5ca4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.header__info--number {
  margin: 0px;
  font-size: 19px;
  font-weight: 600;
  color: black;
}

.header__logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__logo--image {
  margin-bottom: -8px;
}

button {
  border: none;
}
button:hover {
  text-decoration: underline;
}

/* section decouverte*/
.decouverte {
  background-color: #d78232;
}
.decouverte__bold {
  text-transform: uppercase;
}
.decouverte__coeur {
  width: 100%;
  background: linear-gradient(90deg, #d78232 10%, #6a5ca4 100%);
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 12px 0px;
}

span.decouverte__bold {
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0.5em;
  font-weight: 800;
}

/*medias queries*/
@media only screen and (max-width: 320px) {
  /*style petits smartphones en voie de disparition*/
  .header {
    padding: 1em 1em 0em;
  }

  .header__logo--image img {
    width: 90%;
  }

  h1 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  .header {
    padding: 1em 1em 0em;
  }

  .header__logo--image img {
    width: 90%;
  }

  h1 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  .header {
    padding: 1em 5em 0em;
  }
}
@media (min-width: 966px) {
  /*style desktop */
  .header {
    padding: 1em 10em 0em;
  }
}
footer {
  background-color: #6a5ca4;
  padding: 20px 20px 40px 20px;
}

.banner {
  background-color: #f3e9f1;
  display: flex;
  justify-content: space-between;
  margin-right: -20px;
  margin-left: -20px;
}
.banner i {
  color: #6a5ca4;
  font-size: 32px;
  align-items: center;
  margin-right: 10px;
}

.social {
  align-items: center;
  display: flex;
}

.footer-texte a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.footer-texte a:hover {
  text-decoration: underline;
}
.footer-texte p {
  line-height: 2;
}

.banner2 {
  background-color: #f3e9f1;
  color: #d78232;
  display: flex;
  justify-content: center;
  margin-right: -20px;
  margin-left: -20px;
  padding: 5px 20px;
  line-height: 0;
}
.banner2 p {
  font-weight: 600;
}

/*medias queries*/
@media only screen and (max-width: 320px) {
  .banner2 p {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
  }

  .banner {
    padding: 5px 20px;
  }
  .banner img {
    width: 50%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  .banner2 p {
    font-size: 13px;
  }

  .banner {
    padding: 5px 20px;
  }
  .banner img {
    width: 50%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
}
@media (min-width: 966px) {
  /*style desktop */
  .banner2 p {
    font-size: 23px;
  }

  .footer-texte {
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }

  .banner {
    padding: 5px 60px;
  }
}
.ours {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f3e9f1;
  border-radius: 1em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.ours__img {
  margin-right: 10px;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 15px;
}
.ours img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.ours__texte {
  text-align: center;
}
.ours__info {
  display: flex;
}

/*medias queries*/
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  .ours {
    width: 80%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  .ours {
    width: 55%;
  }
  .ours__info {
    align-items: center;
  }
}
@media (min-width: 966px) {
  /*style desktop */
  .ours {
    width: 55%;
  }
  .ours__info {
    align-items: center;
  }
}
/*tableau*/
table {
  border-collapse: collapse;
  font-size: 12px;
}

tbody {
  background-color: white;
}

td, th {
  border: 1px solid black;
  text-align: center;
}
td i, th i {
  color: darkred;
}

th {
  background-color: #6a5ca4;
  color: white;
  padding: 0px 4px;
}

.photo-ref {
  display: flex;
}

.contenu-panier__text {
  font-size: 10px;
  text-align: left;
  margin-left: 3px;
  margin-right: 2em;
}
.contenu-panier__text--ref {
  color: lightseagreen;
  line-height: 0;
}
.contenu-panier__text--nom {
  line-height: 0.9;
  margin-top: 5px;
}

.total {
  text-align: left;
  margin-left: 5px;
}

.panier-vide {
  min-height: 500px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/*---------------*formulaire-----------------*/
.input {
  display: flex;
  justify-content: space-between;
}
.input input {
  width: 90%;
}

.mail, .adresse {
  width: 100%;
}
.mail input, .adresse input {
  width: 95%;
}

span {
  font-size: 12px;
  color: red;
  font-style: italic;
  display: flex;
  padding: 0.5em 0em;
}

/*medias queries*/
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  table {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  table {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 966px) {
  /*style desktop */
  table {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
}
.fiche {
  margin-top: 2em;
  margin-left: 0.5em;
}
.fiche .titre-underline {
  font-size: 14px;
  text-decoration: underline;
}
.fiche p {
  font-size: 12px;
  font-style: italic;
  line-height: 1.7;
}

.produit-adopter {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0.2em;
}
.produit-adopter button {
  line-height: 2;
}

/* menu déroulant*/
* {
  padding: 0px;
}

nav.ours__texte--boutons ul {
  list-style-type: none;
}

.ours__texte--boutons ul li {
  float: left;
  text-align: center;
  position: relative;
  list-style-type: none;
  margin-right: 15px;
}

.ours__texte--boutons a {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  line-height: 2;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: #d78232;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.ours__texte--boutons > ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  width: 100%;
  text-align: left;
}

.sous a {
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.conteneur {
  margin: 50px 20px;
  height: 1500px;
}

/*medias queries*/
@media only screen and (max-width: 320px) {
  .ours__texte--boutons ul li {
    margin-right: 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
}
@media (min-width: 966px) {
  /*style desktop */
}
.Thanks {
  font-size: 15px;
  text-align: center;
  padding: 20px 20px;
  border-radius: 2em;
  line-height: 1.4;
  margin-bottom: 3em;
  box-shadow: 3px 3px 10px #6a5ca4;
  background-color: white;
  font-weight: 600;
}

.user {
  display: flex;
  justify-content: center;
}

.recapitulatif {
  padding: 20px 20px;
  border-radius: 2em;
  margin-bottom: 3em;
  background-color: white;
}

.violet {
  color: #6a5ca4;
}

.orange {
  color: #d78232;
}

/*medias queries*/
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  p.violet, p.orange {
    font-size: 20px;
  }
}
@media (min-width: 966px) {
  /*style desktop */
  p.violet, p.orange {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
