.Thanks{
	font-size: 15px;
	text-align: center;
	padding: 20px 20px;
	border-radius: 2em;
	line-height: 1.4;
	margin-bottom: 3em;
	box-shadow: 3px 3px 10px $colour-secondary;
	background-color: white;
	font-weight: 600;
}
.recapitulatif{
	padding: 20px 20px;
	border-radius: 2em;
	margin-bottom: 3em;
	background-color: white;
}
.violet{
	color:$colour-secondary;
}
.orange{
	color:$colour-primary;
}