.Thanks{
	font-size: 15px;
	text-align: center;
	padding: 20px 20px;
	border-radius: 2em;
	line-height: 1.4;
	margin-bottom: 3em;
	box-shadow: 3px 3px 10px $colour-secondary;
	background-color: white;
	font-weight: 600;
}
.recapitulatif{
	padding: 20px 20px;
	border-radius: 2em;
	margin-bottom: 3em;
	background-color: white;
}
.violet{
	color:$colour-secondary;
}
.orange{
	color:$colour-primary;
}
 /*medias queries*/

 @media only screen and (max-width: 320px) {

}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/

}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  p.violet, p.orange{
	font-size: 20px;
}
}
@media (min-width: 966px) {
  /*style desktop */
  p.violet, p.orange{
	  font-size: 24px;
  }
}
