.ours{
    padding: 10px;
    margin-bottom: 20px;
    background-color: $colour-back;
    border-radius: 1em;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    &__img{
        margin-right: 10px;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 15px;
    }
    & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px ;
        }
    &__texte{
        text-align: center;
    }
    &__info{
        display: flex;
    }
    }  
    /*medias queries*/

@media only screen and (max-width: 320px) {
    

  }
  @media only screen and (min-width: 321px) and (max-width: 799px) {
    /*style smartphones et petites tablettes en portrait*/
    .ours{
        width: 80%;
    }
  }
  @media only screen and (min-width: 800px) and (max-width: 966px) {
    /*style petites-moyennes tablettes */
    .ours{
        width: 55%;
        &__info{
            align-items: center;
        }
    }
}
  @media (min-width: 966px) {
    /*style desktop */
    .ours{
        width: 55%;
        &__info{
            align-items: center;
        }
    }
   
    
}