/*tableau*/
table
{
    border-collapse: collapse;
    font-size: 12px;}
    
tbody{
    background-color: white;

}

    td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    text-align: center;
    & i{
        color: darkred;
    }
}

th{
    background-color: $colour-secondary;
    color:white;
    padding: 0px 4px;
}
.photo-ref{
    display: flex;
}
.contenu-panier__text{
    font-size: 10px; 
    text-align: left;
    margin-left: 3px;
    &--ref{
    color:lightseagreen;
    line-height: 0;
    }
    &--nom{
        line-height: 0.9;
        margin-top: 5px
    }
}
.total{
        text-align:left;
        margin-left:5px;
}
.panier-vide{
    min-height: 500px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 /*---------------*formulaire-----------------*/

 .input{
     display: flex;
     justify-content: space-between;
     & input{
        width: 90%;
     }
 }
.mail{
    width: 100%;
    & input{
        width: 95%;
     }
}

 /*medias queries*/

 @media only screen and (max-width: 320px) {

}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  table {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  table {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
}
@media (min-width: 966px) {
  /*style desktop */
    table {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
}