button.connexion{
        padding: 2px 10px;
        color: black;
        font-weight: 600;
        background-color: transparent;
}

.ours__texte--boutons {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 13%;}

 select, .ours__texte--boutons a, .produit-adopter a{
            border-radius: 2em;
            padding: 2px 10px;
            font-size: 12px;
            background: $colour-secondary;
            color: white;
            font-weight: 600;
            text-decoration: none;
    }

option{
    background-color: $colour-primary;
}